// scss-lint:disable ImportantRule

* {
    box-sizing: border-box;

    &:focus {
        outline: 0 !important;
    }
}

html,
body {
    font-family: $font-1;
    font-size: 14px;

    @include respond-to('xl') {
        font-size: 16px;
    }
}

body {
    &::before {
        display: none;
        content: 'xs';

        @include respond-to('sm') {
            content: 'sm';
        }
        @include respond-to('md') {
            content: 'md';
        }
        @include respond-to('lg') {
            content: 'lg';
        }
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
label {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    &:focus,
    &:hover,
    &:active {
        outline: 0;
    }
}

.hide {
    display: none !important;
}
