@font-face {
    font-family: 'open_sans';
    src: url('#{$font-path}/open-sans-regular.eot');
    src: local('☺'),
         url('#{$font-path}/open-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/open-sans-regular.woff2') format('woff2'),
         url('#{$font-path}/open-sans-regular.woff') format('woff'),
         url('#{$font-path}/open-sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('#{$font-path}/open-sans-bold.eot');
    src: local('☺'),
         url('#{$font-path}/open-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/open-sans-bold.woff2') format('woff2'),
         url('#{$font-path}/open-sans-bold.woff') format('woff'),
         url('#{$font-path}/open-sans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('#{$font-path}/open-sans-extrabold.eot');
    src: local('☺'),
         url('#{$font-path}/open-sans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/open-sans-extrabold.woff2') format('woff2'),
         url('#{$font-path}/open-sans-extrabold.woff') format('woff'),
         url('#{$font-path}/open-sans-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
