.advantages {
    &__list {
        &-item {
            position: relative;
            min-height: 50px;
            padding: 75px 0 8px;
            font-size: rem(20);
            font-weight: font-weight('extrabold');
            line-height: rem(34);
            text-align: center;
            text-transform: uppercase;

            @include respond-to('md') {
                padding: 8px 0 8px 75px;
                text-align: left;
            }

            & + & {
                margin-top: rem(20);
            }

            &::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 50px;
                height: 50px;
                transform: translateX(-50%);
                content: '';

                @include respond-to('md') {
                    left: 0;
                    transform: none;
                }
            }
        }

        &--top {
            .advantages__list-item {
                color: color('chalet-green');

                &::before {
                    background: url('#{$img-path}/icon-forbidden.png');
                    background-position: center;
                    background-size: contain;
                }
            }
        }

        &--bottom {
            margin-top: 30px;
            padding: 40px 0;
            background: map-get($colors, 'black-haze');

            .advantages__list-item {
                color: color('pastel-green');

                .link--std {
                    color: color('chalet-green');
                }

                &::before {
                    border-radius: 50%;
                    background: darken(map-get($colors, 'black-haze'), 5%);
                    line-height: 50px;
                    text-align: center;
                }

                &:nth-child(1)::before {
                    background: url('#{$img-path}/icon-tick.png');
                    background-position: center;
                    background-size: contain;
                }

                &:nth-child(2)::before {
                    content: '1.';
                }

                &:nth-child(3)::before {
                    content: '2.';
                }
            }
        }
    }
}
