.btn {
    display: inline-block;

    &--std {
        width: 100%;
        padding: rem(12) rem(50);
        border: 0;
        background: color('pastel-green');
        color: color('white');
        font-size: rem(20);
        font-weight: font-weight('bold');
        text-transform: uppercase;

        @include respond-to('md') {
            width: auto;
        }

        &:hover,
        &:focus {
            background: color('mantis');
            color: color('white');
            text-decoration: none;
        }
    }
}
