.contact-line {
    padding: 10px 0;
    text-align: center;

    &__list {
        &-item {
            color: color('chalet-green');
            font-weight: font-weight('bold');

            @include respond-to('md') {
                display: inline-block;
                font-size: rem(20);
                line-height: rem(32);
            }

            a {
                &,
                &:focus,
                &:active,
                &:hover {
                    color: color('chalet-green');
                    text-decoration: none;
                }
            }

            + .contact-line__list-item {
                &::before {
                    @include respond-to('md') {
                        content: '|';
                    }
                }
            }
        }
    }

    &__link {
        color: color('chalet-green');
    }
}
