.contact-link {
    margin: 30px 0 0;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;

    &__link {
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        border: color('white') solid 3px;
        color: color('white');
        font-weight: font-weight('bold');
        line-height: 37px;

        @include respond-to('sm') {
            width: auto;
            padding: 0 30px;
        }

        &:hover {
            color: color('white');
            text-decoration: none;
        }
    }

    &__btn {
        display: inline-block;
        width: 100%;
        margin: 15px 0 0;
        padding: 0 20px;
        border: color('white') solid 3px;
        background: color('white');
        color: color('pastel-green');
        font-weight: font-weight('bold');
        line-height: 37px;

        @include respond-to('sm') {
            width: auto;
            margin: 0 0 0 15px;
        }

        &:hover,
        &:focus,
        &:active {
            background: none;
            color: color('white');
            text-decoration: none;
        }
    }

    &__waypoint {
        position: absolute;
        bottom: 74px;
        width: 100%;
        z-index: z-index('nav');
    }

    &--env {
        position: fixed;
        top: 24px;
        right: 65px;
        padding: 7px 10px;
        background: color('pastel-green');
        z-index: z-index('nav');

        @include respond-to('md') {
            display: none;
        }

        .icon {
            width: 30px;
            height: 30px;
            vertical-align: middle;

            fill: color('white');
        }
    }

    &--sticky {
        display: none;
        position: absolute;
        right: 55px;
        margin: 0;
        padding: 15px;
        background: color('pastel-green');
        line-height: 40px;
        z-index: z-index('nav');

        @include respond-to('lg') {
            display: block;
            right: 0;
            bottom: 0;
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        bottom: auto;
    }
}
