.examples {
    color: map-get($colors, 'outer-space');
    font-size: rem(20);
    line-height: rem(34);

    &__head {
        display: none;

        @include respond-to('md') {
            display: block;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            text-transform: uppercase;

            &--cat,
            &--normal,
            &--savings {
                margin-top: rem(15);
            }

            &--cat,
            &--normal {
                border-right: color('pastel-green') solid 1px;
                background: color('twilight-blue');
            }

            &--cat {
                @include respond-to('md') {
                    padding-top: 27px;
                    padding-bottom: 27px;
                }
            }

            &--edu {
                padding-top: 15px;
                padding-bottom: 15px;
                background: color('apple');
                color: color('white');
                font-weight: font-weight('bold');
            }

            &--savings {
                background: color('mantis');

                @include respond-to('md') {
                    padding-top: 27px;
                    padding-bottom: 27px;
                }
            }
        }
    }

    &__example {
        padding: 15px;
        background: color('twilight-blue');

        @include respond-to('md') {
            padding: 0;
            background: 0;
        }

        + .examples__example {
            margin-top: 15px;

            @include respond-to('md') {
                margin-top: 0;
            }
        }

        &-cat {
            margin-bottom: 5px;
            font-weight: font-weight('bold');

            @include respond-to('md') {
                height: 45px;
                margin-bottom: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                border-top: color('geyser') solid 1px;
                border-right: color('pastel-green') solid 1px;
                background: color('twilight-blue');
            }
        }

        &-head {
            @include respond-to('md') {
                display: none;
            }
        }

        &-item {
            @include respond-to('md') {
                height: 45px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: right;
            }

            &--normal {
                @include respond-to('md') {
                    border-top: color('geyser') solid 1px;
                    border-right: color('pastel-green') solid 1px;
                    background: color('twilight-blue');
                }
            }

            &--edu {
                @include respond-to('md') {
                    border-top: darken(color('apple'), 7%) solid 1px;
                    background: color('apple');
                    font-weight: font-weight('bold');
                }
            }

            &--saving {
                @include respond-to('md') {
                    border-top: darken(color('mantis'), 7%) solid 1px;
                    background: color('mantis');
                }

                .examples__example-price {
                    font-weight: font-weight('bold');
                }
            }
        }
    }

    &__sum {
        margin-top: 15px;
        padding: 15px;
        background: color('apple');

        @include respond-to('sm') {
            margin-top: 0;
            padding: 0;
            background: 0;
        }

        &-item {
            @include respond-to('md') {
                height: 45px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: right;
            }

            &--title {
                margin-bottom: 5px;
                font-weight: font-weight('bold');

                @include respond-to('md') {
                    margin-bottom: 0;
                    border-top: color('geyser') solid 1px;
                    border-right: color('pastel-green') solid 1px;
                    background: color('twilight-blue');
                    font-weight: font-weight('normal');
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            &--normal {
                @include respond-to('md') {
                    border-top: color('geyser') solid 1px;
                    border-right: color('pastel-green') solid 1px;
                    background: color('twilight-blue');
                }
            }

            &--edu {
                @include respond-to('md') {
                    height: 60px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: darken(color('apple'), 7%) solid 1px;
                    background: color('apple');
                    font-weight: font-weight('bold');
                }
            }

            &--savings {
                @include respond-to('md') {
                    height: 50px;
                    border: color('white') solid 3px;
                    background: color('mantis');
                    font-weight: font-weight('bold');
                }

                .examples__sum-price {
                    font-weight: font-weight('bold');
                }
            }
        }

        &-title {
            margin-bottom: 5px;
            font-weight: font-weight('bold');
        }

        &-head {
            @include respond-to('md') {
                display: none;
            }
        }

        &-saving {
            .examples__sum-price {
                font-weight: font-weight('bold');
            }
        }
    }

    &__ps {
        margin-top: 30px;
        color: color('apple');
        text-align: center;
    }
}
