.form {
    &__group {
        margin: 0 0 30px;

        &--filled {
            .form__label {
                display: none;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 7px 15px;
        border: 0;
        background: 0;
        color: color('apple');
        font-size: rem(18);

        &--text,
        &--textarea {
            border: color('pastel-green') solid 2px;

            &::placeholder {
                color: color('pastel-green');
                font-size: rem(18);
                font-weight: font-weight('bold');
                line-height: rem(40);
                text-transform: uppercase;
            }

            &:focus {
                border-color: color('mantis');
            }

            .form__group--error & {
                border-color: map-get($colors, 'cinnabar');

                &::placeholder {
                    color: color('cinnabar');
                }
            }
        }

        &--textarea {
            min-height: 300px;
        }
    }

    &__errors {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__error {
        margin: 5px 0 0;
        color: map-get($colors, 'cinnabar');
    }

    &__footer {
        text-align: center;
    }

    &__loader {
        width: 50px;
        height: 50px;
        vertical-align: bottom;

        animation: spin 1.5s linear infinite;
        fill: color('pastel-green');
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
