.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    &__item {
        position: relative;
        width: percentage(6 / 12);
        padding: 10px;
        overflow: hidden;

        @include respond-to('md') {
            width: percentage(4 / 12);
        }
        @include respond-to('lg') {
            width: percentage(3 / 12);
        }

        &-link {
            display: block;
        }

        &-img {
            padding-bottom: 65%;
        }

        img {
            display: none;
        }
    }

    &--thumbs {
        display: flex;
        flex-wrap: wrap;
        margin: rem(30) -15px 0;

        .gallery {
            &__item {
                flex: 0 0 50%;
                padding: 15px;

                @include respond-to('xl') {
                    flex: 0 0 percentage(4 / 12);
                }
            }
        }
    }
}
