.h {
    margin: 0;
    padding: 0;

    &--1 {
        margin-bottom: rem(30);
        color: color('pastel-green');
        font-size: rem(32);
        font-weight: font-weight('bold');
        line-height: rem(54);
        text-transform: uppercase;
    }

    &--2 {
        margin-bottom: rem(20);
        color: color('white');
        font-size: rem(35);
        font-weight: font-weight('extrabold');
        letter-spacing: rem(1);
        line-height: rem(60);
        text-transform: uppercase;
    }

    &--3 {
        margin-bottom: rem(10);
        font-size: rem(24);
        line-height: rem(32);
        text-transform: uppercase;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}
