.ig {
    &--process {
        .ig {
            &__col {
                width: 100%;
                float: left;

                &--left {
                    @include respond-to('md') {
                        width: 25%;
                    }

                    .ig {
                        &__head {
                            background: map-get($colors, 'cinnabar');
                        }

                        &__desc {
                            background: map-get($colors, 'el-salva');
                        }
                    }
                }

                &--mid {
                    @include respond-to('md') {
                        width: 50%;
                    }

                    .ig__desc {
                        color: color('apple');
                    }
                }

                &--right {
                    @include respond-to('md') {
                        width: 25%;
                    }

                    .ig {
                        &__head {
                            background: color('apple');
                        }

                        &__desc {
                            background: color('apple');
                        }
                    }
                }

                &-block {
                    @include respond-to('md') {
                        width: 28.5%;
                        float: left;
                    }

                    &--mid {
                        @include respond-to('md') {
                            width: 43%;
                        }
                    }
                }
            }

            &__head {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100px;
                padding: 15px;
            }

            &__title {
                color: color('white');
                font-size: rem(24);
                font-weight: font-weight('extrabold');
                line-height: rem(30);
                text-align: center;
                text-transform: uppercase;
            }

            &__img {
                display: block;
                margin: 0 auto;

                @include respond-to('md') {
                    height: 243px;
                }
                @include respond-to('lg') {
                    height: 317px;
                }
                @include respond-to('xl') {
                    height: 385px;
                }
            }

            &__desc {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 150px;
                padding: 15px;
                color: color('white');
                font-size: rem(14);
                line-height: rem(22);
                text-align: center;

                @include respond-to('md') {
                    min-height: 200px;
                }
            }
        }
    }
}
