.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &--std {

        + .txt--std {
            margin-top: 27px;
        }

        .list {

            &__item {
                position: relative;
                padding-left: 30px;
                font-size: 16px;
                line-height: 27px;

                + .list__item {
                    margin-top: 13px;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '-';
                }
            }
        }
    }
}
