.logo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        padding: 0 15px;
    }
}
