.slider {
    &--std {
        position: relative;
        height: 95vh;
        padding: 0 0 40px;
        overflow-x: hidden;

        @include respond-to('sm') {
            padding-bottom: 0;
        }

        .slider {
            &__slide {
                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: url('#{$img-path}/dots.png');
                    content: '';
                    opacity: .25;
                }

                &-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: z-index('overlay');
                }

                &-caption {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    width: 80%;
                    padding: 15px 30px;
                    background: rgba(map-get($colors, 'black'), .6);
                    color: color('white');
                    font-size: 14px;
                    line-height: 22px;
                    z-index: z-index('default');

                    @include respond-to('sm') {
                        bottom: 25%;
                        left: 50%;
                        max-width: 50%;
                    }
                    // only sm
                    @include respond-to('sm') {
                        margin-left: -360px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @include respond-to('md') {
                        margin-left: -470px;
                        font-size: 22px;
                        font-weight: font-weight('bold');
                        line-height: 38px;
                    }
                    @include respond-to('lg') {
                        margin-left: -570px;
                    }
                }

                &-link {
                    color: color('white');
                }
            }
        }
    }

    &--img {
        overflow-x: hidden;

        .slider {
            &__slide {
                &-img {
                    text-align: center;
                }

                &-title {
                    margin: 20px 0 10px;
                    color: map-get($colors, 'limeade');
                    font-size: 22px;
                    font-weight: font-weight('extrabold');
                    line-height: 35px;
                    text-align: center;
                }

                &-content {
                    .txt--std {
                        color: color('boulder');
                        font-weight: font-weight('normal');
                        text-align: center;
                    }
                }
            }
        }
    }

    &--gallery {
        overflow-x: hidden;

        .slider__slide {
            overflow: hidden;

            .icon {
                display: inline-block;
                width: 15px;
                height: 15px;
                vertical-align: middle;

                &:first-of-type {
                    margin-left: 5px;
                }
            }

            .link {
                color: color('white');
                font-size: 14px;
                font-style: italic;
                font-weight: font-weight('bold');

                &:hover,
                &:focus,
                &:active {
                    color: color('white');
                    text-decoration: none;
                }
            }

            &-img {
                padding-bottom: 100%;
            }

            &-caption {
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 30px;
                transition: bottom $anim-speed;
                background: rgba(color('green-pea'), .8);
                color: color('white');
            }

            &-title {
                max-width: 100px;
                font-family: $font-1;
                font-size: 17px;
                font-weight: font-weight('extrabold');
                line-height: 25px;
                text-transform: uppercase;
            }

            &-link {
                display: inline-block;
                margin-top: 10px;
            }

            &:hover {
                .slider__slide-caption {
                    bottom: 0;
                }
            }
        }

        .swiper-pagination-bullets {
            bottom: -60px;
        }
    }

    &--mt {
        margin-top: 50px;
    }
}
