.txt {
    margin: 0;

    &--std {
        font-size: rem(16);
        line-height: rem(27);

        & + &,
        + .list--std {
            margin-top: rem(25);
        }
    }

    &--apple {
        color: color('green-pea');
    }

    &--center {
        text-align: center;
    }
}
