// http://chir.ag/projects/name-that-color/
$colors: (
    // gray shades
    'black': #000,
    'mine-shaft': #222,
    'outer-space': #30393a,
    'boulder': #777,
    'geyser': #dbe6e6,
    'twilight-blue': #f1feff,
    'black-haze': #f6f8f7,
    'white': #fff,

    // primary shades
    'pastel-green': #78d75c,
    'mantis': #6ec554,
    'chalet-green': #417432,
    'green-pea': #28683b,
    'apple': #50903e,
    'gordons-green': #101c0c,
    'limeade': #66be00,

    // secondary shades

    // other colors
    'cinnabar': #e84748,
    'el-salva': #882c30
);

$media-queries: (
    'sm': 576,
    'md': 768,
    'lg': 992,
    'xl': 1200
);

// Font weights
// http://www.webtype.com/info/articles/fonts-weights/
$font-weights: (
    'normal': 400,
    'bold': 700,
    'extrabold': 800
);

// z-indexes
// https://www.viget.com/articles/sass-maps-and-z-indexes
$z-indexes: (
    'modal': 5,
    'nav': 4,
    'default': 1,
    'overlay': 0,
    'below': -1,
    'footer': 2,
);

$font-1: 'open_sans', Helvetica, Arial, sans-serif;
$font-2: 'titillium', Helvetica, Arial, sans-serif;

$baseline-px: 16px;

$anim-speed: .3s;

$img-path: '../img';
$svg-path: '../svg';
$font-path: '../fonts';

$svg: (
    'chevron-down': '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.000003 50.000003"><path d="M.5 15.73l23.347 23.35c.334.334.718.5 1.152.5.432 0 .816-.166 1.15-.5L49.5 15.73c.333-.334.5-.717.5-1.152 0-.434-.167-.818-.5-1.152l-2.506-2.504c-.334-.334-.718-.5-1.152-.5-.434 0-.82.166-1.152.5L25 30.612 5.31 10.92c-.335-.335-.72-.5-1.153-.5-.434 0-.82.166-1.153.5L.5 13.425c-.334.334-.5.718-.5 1.152 0 .435.166.82.5 1.153z" fill="{$color}"/></svg>',
    'chevron-left': '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.000001 50.000001"> <path d="M31.46-.154l-14.595 25.28h.002-.002l15.025 25.03 1.245-.75L18.55 25.114 32.72.574l-1.26-.728z" opacity=".95" fill="{$color}"/> </svg>'
);
