.page--post {
    .page {
        &__body {
            background: url('../img/dots.png') color('pastel-green');
        }

        &__section {
            padding: 0;
        }
    }
}

.post {
    display: flex;
    flex-direction: row;

    &__sidebar {
        position: relative;
        width: percentage(3 / 12);
        background: color('pastel-green');

        &::before,
        &::after {
            position: absolute;
            right: 50px;
            left: 50px;
            height: 1px;
            background: color('white');
            content: '';
        }

        &::before {
            top: 30px;
        }

        &::after {
            bottom: 30px;
        }
    }

    &__content {
        width: 100%;
        padding: 50px 30px;
        background: color('white');

        .link--std {
            color: color('chalet-green');

            &:hover,
            &:focus {
                color: color('chalet-green');
            }
        }
    }

    &__excerpt {
        margin-bottom: 27px;
        color: color('pastel-green');
        font-weight: font-weight('bold');
    }

    &__links {
        padding: 50px 0 0;
        text-align: center;

        &-item {
            display: inline-block;

            + .post__links-item {
                margin-left: 30px;
            }
        }

        &-link {
            display: inline-block;
            padding: 5px 20px;
            border: color('mine-shaft') solid 2px;
            color: color('mine-shaft');
            font-size: 13px;
            font-weight: font-weight('bold');
            text-transform: uppercase;

            &:hover,
            &:focus {
                background: color('mine-shaft');
                color: color('white');
                text-decoration: none;
            }
        }
    }
}
