.footer {
    background: color('pastel-green');

    &__top {
        padding: 70px 0;
        text-align: center;

        .h--2 {
            margin-bottom: 40px;
            color: color('white');
        }

        &-img {
            display: block;
            max-width: 150px;
            margin: 0 auto;

            @include respond-to('md') {
                display: inline-block;
            }

            & + & {
                margin-top: 30px;

                @include respond-to('md') {
                    margin: 0 0 0 rem(30);
                }
            }
        }

        &--contact {
            color: color('apple');
            text-align: left;

            .footer__top {
                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 30px;

                    @include respond-to('sm') {
                        flex-direction: row;
                    }

                    .txt {
                        width: 100%;
                        padding-top: 30px;

                        @include respond-to('sm') {
                            padding-top: 0;
                            padding-left: 30px;
                        }
                    }
                }

                &-img {
                    max-width: 150px;
                }
            }
        }
    }

    &__bottom {
        padding: 30px 0;
        border-top: color('pastel-green') solid 1px;
        background: color('apple');
        color: color('white');
        font-size: rem(18);
        font-weight: font-weight('bold');
        box-shadow: 0 0 25px rgba(map-get($colors, 'black'), .2);

        &-left {
            @include respond-to('lg') {
                padding: 40px 0;
                border-right: color('pastel-green') solid 4px;
            }
        }

        &-right {
            margin: 30px 0 0;
            padding: 10px 0;

            @include respond-to('lg') {
                margin-top: 0;
            }
        }

        &-block {
            & + & {
                margin-top: 15px;
            }
        }

        &-item {
            display: block;

            @include respond-to('lg') {
                display: inline-block;
            }

            & + & {
                margin: 15px 0 0;

                @include respond-to('lg') {
                    margin: 0 0 0 15px;
                }
            }
        }

        &-link {
            display: inline-block;
            color: color('white');

            &:hover,
            &:focus,
            &:active {
                color: color('white');
                text-decoration: underline;
            }

            &--lg {
                font-size: 20px;
            }
        }
    }

    &__logo {
        width: 160px;
    }

    &__copyright {
        margin: rem(25) rem(30) 0 0;

        @include respond-to('md') {
            margin: 0;
        }
    }
}
