.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

$_bar-width: 22px;
$_bar-height: 2px;
$_bar-spacing: 6px;
$_bar-color: color('pastel-green');

.burger {
    position: fixed;
    top: 24px;
    right: 15px;
    padding: 10px;
    background: color('white');
    cursor: pointer;
    z-index: z-index('modal');

    @include respond-to('lg') {
        display: none;
    }

    &__bar,
    &__bar::before,
    &__bar::after {
        width: $_bar-width;
        height: $_bar-height;
    }

    &__bar {
        display: inline-block;
        position: relative;
        transform: translateY(-5px);
        transition: all 0ms 300ms;
        background: rgba($_bar-color, 1);

        &::before {
            position: absolute;
            bottom: $_bar-spacing;
            left: 0;
            transition: bottom 300ms 300ms cubic-bezier(.23, 1, .32, 1), transform 300ms cubic-bezier(.23, 1, .32, 1);
            background: rgba($_bar-color, 1);
            content: '';
        }

        &::after {
            position: absolute;
            top: $_bar-spacing;
            left: 0;
            transition: top 300ms 300ms cubic-bezier(.23, 1, .32, 1), transform 300ms cubic-bezier(.23, 1, .32, 1);
            background: rgba($_bar-color, 1);
            content: '';
        }

        .burger__input:checked + .burger & {
            background: rgba($_bar-color, 0);

            &::before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(.23, 1, .32, 1), transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
            }

            &::after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(.23, 1, .32, 1), transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
            }
        }
    }

    &__input {
        position: fixed;
        left: -999px;
    }
}

.header {
    @include clearfix();

    padding: 20px 0 40px;

    &__logo {
        position: relative;
        width: percentage(5 / 12);
        float: left;
        z-index: z-index('nav');

        @include respond-to('lg') {
            width: 22%;
        }

        .img {
            width: 120px;

            @include respond-to('lg') {
                width: 190px;
            }
        }

        &::after {
            @include respond-to('lg') {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 167px;
                height: 46px;
                background: rgba(color('apple'), .5);
                content: '';
            }
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100vw;
        width: 100vw;
        padding: 23px 0 15px;
        transition: left $anim-speed;
        background: color('pastel-green');
        z-index: z-index('nav');

        @include respond-to('lg') {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            width: 78%;
            padding: 0;
            padding-top: 23px;
            float: left;
            background: 0;
        }

        .burger__input:checked ~ & {
            left: 0;
        }

        &-body {
            height: 100%;
            overflow-y: auto;

            @include respond-to('lg') {
                overflow-y: visible;
            }
        }

        &-bg {
            display: none;

            @include respond-to('lg') {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 46px;
                background: rgba(color('apple'), .5);
            }
        }
    }

    .menu {
        @include respond-to('lg') {
            text-align: right;
        }

        &__item {
            position: relative;
            text-align: left;

            @include respond-to('lg') {
                display: inline-block;
            }

            + .menu__item {
                @include respond-to('lg') {
                    margin-left: 0;
                }
                @include respond-to('xl') {
                    margin-left: 15px;
                }
            }

            &:hover {
                .menu__submenu {
                    @include respond-to('lg') {
                        display: block;
                    }
                }
            }

            &--parent {
                > .menu__link {
                    position: relative;
                    padding-right: 40px;

                    &::after {
                        @include svg-bg('chevron-down', darken(color('apple'), 10%));

                        position: absolute;
                        top: 50%;
                        right: 13px;
                        width: 14px;
                        height: 9px;
                        transform: translateY(-50%);
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: '';
                    }
                }
            }
        }

        &__link {
            display: block;
            padding: 11px 10px;
            color: color('white');
            font-size: 14px;
            font-weight: font-weight('bold');
            text-decoration: none;
            text-transform: uppercase;

            @include respond-to('lg') {
                height: 46px;
                padding: 12px 10px;
                font-size: 12px;
            }
            @include respond-to('xl') {
                font-size: 13px;
            }

            &--active,
            &:hover {
                background: color('apple');
            }
        }

        > .menu__item:last-child > .menu__link {
            background: color('cinnabar');

            &:hover,
            &--active {
                background: color('el-salva');
            }
        }

        &__submenu {
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;

            @include respond-to('lg') {
                position: absolute;
                top: 46px;
                width: 120%;
                padding: 0;
                z-index: z-index('nav');
            }

            .menu {
                &__item {
                    @include respond-to('lg') {
                        margin: rem(10) 0 0;
                    }
                }

                &__link {
                    height: auto;
                    background: rgba(color('white'), .8);
                    color: color('apple');

                    &:hover {
                        background: color('apple');
                        color: color('white');
                    }
                }
            }

            &--open {
                display: block;
            }
        }
    }
}

.page--template-fixed-nav {
    .header {
        position: absolute;
        top: 3px;
        right: 0;
        left: 0;
        padding-bottom: 0;

        @include respond-to('lg') {
            top: 10px;
        }

        .menu {
            &__link {
                &--active,
                &:hover {
                    @include respond-to('lg') {
                        background: rgba(color('pastel-green'), .8);
                        color: color('white');
                    }
                }
            }

            &-bg {
                background: rgba(color('pastel-green'), .5);
            }
        }
    }
}
