.page {
    &__body {
        background: color('pastel-green');
        font-family: $font-1;
        font-size: 16px;
        line-height: 24px;
    }

    &__section {
        position: relative;
        padding: 50px 0;

        @include respond-to('sm') {
            padding: rem(100) 0;
        }

        &-intro {
            .txt--std {
                font-size: rem(20);
                line-height: rem(32);
            }

            + .btn {
                margin-top: 30px;
            }
        }

        &--bg-white {
            background: color('white');

            .h--2 {
                color: color('pastel-green');
            }

            .page__section-intro {
                color: color('green-pea');
            }

            .link--std {
                color: color('pastel-green');

                &:hover,
                &:focus {
                    color: color('mantis');
                    text-decoration: underline;
                }
            }

            .txt--apple {
                color: color('apple');
            }
        }

        &--mt {
            margin-top: rem(30);
        }

        &--bg-img {
            height: 80vh;
            min-height: 350px;
            background-position: center;
            background-size: cover;

            @include respond-to('sm') {
                min-height: 450px;
            }
        }

        &--bg-img-overlay {
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: url('#{$img-path}/dots.png');
                content: '';
                opacity: .25;
            }
        }

        &--rm-pt {
            padding-top: 0;
        }

        &--rm-pb {
            padding-bottom: 0;
        }
    }

    &__row {
        &--pt {
            padding-top: 30px;
        }
    }

    &__col {
        &--txt-center {
            text-align: center;
        }
    }
}
