.sidebar {
    &__menu {
        padding: 60px 30px;

        &-item {
            & + & {
                margin-top: 15px;
            }
        }

        &-link {
            color: color('white');
            font-size: rem(15);
            font-weight: font-weight('bold');
            line-height: rem(23);
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: color('white');
            }
        }
    }
}
